<div id="donation-view--number-input-display">
  <span class="display">How many books would you like to donate?</span>
  <button class="clear-button hidden">Clear</button>
</div>

<div id="donation-view--number-input-container">
  <span data-id="1">1</span>
  <span data-id="2">2</span>
  <span data-id="3">3</span>
  <span data-id="4">4</span>
  <span data-id="5">5</span>
  <span data-id="6">6</span>
  <span data-id="7">7</span>
  <span data-id="8">8</span>
  <span data-id="9">9</span>
  <span data-id="0">0</span>
</div>

<button id="donation-view--donate-button">Donate</button>

<button id="donation-view--instructions-button">+ Add instructions</button>